{% load static %}
<link rel="stylesheet" href={% static "dashboard/css/navbar.css" %}>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-4">

	<ul class="nav navbar-nav navbar-left">
	  <li>
	    <a class="navbar navbar-brand" href="{% url 'get_dashboard' %}" height=50px style="padding: 0 10px; margin-bottom:0;">
	      <img src={% static "dashboard/img/peak30_log.png" %} alt="Peak 30" height=50px ></a>
	  </li>
	  <li class="dropdown">
	    {% include "navbar/drop_toggle.html" with id_arg="dropdownProfiles" icon_arg="fas fa-id-card" text_arg="Profiles" %}
	    <ul class="dropdown-menu" aria-labelledby="dropdownProfiles">
	      {% include "navbar/drop_header.html" with first_arg=True text_arg="Groups" %}
	      {% include "navbar/drop_item.html" with url_arg="get_groups" icon_arg="fas fa-plus" text_arg="Create new group"  %}
	      {% include "navbar/drop_item.html" with url_arg="get_groups" icon_arg="fas fa-list" text_arg="List visible groups"  %}</li>
	  {% include "navbar/drop_header.html" with first_arg=False text_arg="Users" %}
	  {% include "navbar/drop_item.html" with url_arg="get_users" icon_arg="fas fa-plus" text_arg="Create new user"  %}
	  {% include "navbar/drop_item.html" with url_arg="get_users" icon_arg="fas fa-list" text_arg="List visible users"  %}</li>
	{% include "navbar/drop_header.html" with first_arg=False text_arg="Bots" %}
	{% include "navbar/drop_item.html" with url_arg="get_bots" icon_arg="fas fa-plus" text_arg="Create new bot"  %}
	{% include "navbar/drop_item.html" with url_arg="get_bots" icon_arg="fas fa-list" text_arg="List visible bots"  %}</li>
	    </ul>
	    </li>
	    <li class="dropdown">
	      {% include "navbar/drop_toggle.html" with id_arg="dropdownLibrary" icon_arg="fas fa-book" text_arg="Library" %}
	      <ul class="dropdown-menu" aria-labelledby="dropdownLibrary">
		{% include "navbar/drop_header.html" with first_arg=True text_arg="Professions" %}
		{% include "navbar/drop_item.html" with url_arg="get_professions" icon_arg="fas fa-plus" text_arg="Create new profession"  %}
		{% include "navbar/drop_item.html" with url_arg="get_professions" icon_arg="fas fa-list" text_arg="List professions"  %}</li>
	    {% include "navbar/drop_header.html" with first_arg=False text_arg="Modules" %}
	    {% include "navbar/drop_item.html" with url_arg="get_modules" icon_arg="fas fa-plus" text_arg="Create new module"  %}
	    {% include "navbar/drop_item.html" with url_arg="get_modules" icon_arg="fas fa-list" text_arg="List moudules"  %}</li>
	  {% include "navbar/drop_header.html" with first_arg=False text_arg="Categories" %}
	  {% include "navbar/drop_item.html" with url_arg="get_categories" icon_arg="fas fa-plus" text_arg="Create new category"  %}
	  {% include "navbar/drop_item.html" with url_arg="get_categories" icon_arg="fas fa-list" text_arg="List categories"  %}</li>
	{% include "navbar/drop_header.html" with first_arg=False text_arg="Commands" %}
	{% include "navbar/drop_item.html" with url_arg="get_commands" icon_arg="fas fa-plus" text_arg="Create new command"  %}
	{% include "navbar/drop_item.html" with url_arg="get_commands" icon_arg="fas fa-list" text_arg="List commands"  %}</li>
	      </ul>
	      </li>
	      <li class="dropdown">
		{% include "navbar/drop_toggle.html" with id_arg="dropdownCalendar" icon_arg="fas fa-calendar-alt" text_arg="Calendar" %}
		<ul class="dropdown-menu" aria-labelledby="dropdownCalendar">
		  {% include "navbar/drop_header.html" with first_arg=True text_arg="Events" %}
		  {% include "navbar/drop_item.html" with url_arg="get_professions" icon_arg="fas fa-plus" text_arg="Create new event"  %}
		  {% include "navbar/drop_item.html" with url_arg="get_professions" icon_arg="fas fa-list" text_arg="List events"  %}</li>
	      {% include "navbar/drop_header.html" with first_arg=False text_arg="Tasks" %}
	      {% include "navbar/drop_item.html" with url_arg="get_professions" icon_arg="fas fa-plus" text_arg="Create new task"  %}
	      {% include "navbar/drop_item.html" with url_arg="get_professions" icon_arg="fas fa-list" text_arg="List tasks"  %}</li>
		</ul>
		</li>
	</ul>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
	      <ul class="nav navbar-nav">
	  <form class="navbar-form">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Search">
	      <span class="input-group-btn">
		<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
	      </span>
	    </div>
	  </form>
	</ul>
	<ul class="nav navbar-nav">
	  {% if request.user.is_authenticated %}
	  <li class="dropdown">
	    {% include "navbar/drop_toggle.html" with id_arg="dropdownUser" icon_arg="fas fa-image" text_arg=request.user.first_name %}
	    <ul class="dropdown-menu" aria-labelledby="dropdownUser">
	      {% include "navbar/drop_header.html" with first_arg=True text_arg="Profile" %}
	      {% include "navbar/drop_item.html" with url_arg="get_user_profile" url_par_arg=request.user.username icon_arg="fas fa-eye" text_arg="View"  %}
	      {% include "navbar/drop_item.html" with url_arg="get_user_profile" url_par_arg=request.user.username icon_arg="fas fa-cogs" text_arg="Settings"  %}</li>
	  {% include "navbar/drop_header.html" with first_arg=False text_arg="Messages" %}
	  {% include "navbar/drop_item.html" with url_arg="get_messages" icon_arg="fas fa-inbox" text_arg="Inbox"  %}
	  {% include "navbar/drop_item.html" with url_arg="get_messages" icon_arg="fas fa-evelope" text_arg="Outbox" %}</li>
	{% include "navbar/drop_header.html" with first_arg=False text_arg="Session" %}
	{% include "navbar/drop_item.html" with url_arg="auth_logout" icon_arg="fas fa-sign-out-alt" text_arg="Logout" %}</li>
	    </ul>
	    </li>
	    {% else %}
	    <li><a class="text-center" href="{% url 'auth_login' %}" style="padding:5px 10px;"><i class="fas fa-sign-in-alt"></i></br>Login</a></li>
	    {% endif %}
	</ul>
      </div>
    </div>
  </div>
</nav>
