<!DOCTYPE html>
<html>
	<head>
		{% load static %}

		<script type="text/javascript" src={% static "dashboard/js/jquery.js" %}></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

		<link rel="icon" href={% static "dashboard/img/peak30_b.png" %}>

		{% load bootstrap3 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		<title>Peak 30</title>
	</head>
	<body>
		{% include "navbar/base.html" %}

		<div id='content' style='margin-top:60px;'>
		{% block content %}{% endblock %}
		</div>
	</body>
</html>
