{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href={% static "dashboard/css/panels.css" %}>

<script>
//VARIABLES FOR STATIC
var task_completion_raw = ['doughnut', ["Done", "Skipped", "Canceled"], 
    [
      [ 
	[462, 11, 108], ["#f8ab31", "#6f3e99", "#222222"], ["#fadd9d", "#ac6ee0", "#444444"], "#ffffe5", ""
      ]
    ]];
    //var time_consumption_raw = [{{ user_settings.chart_type }}, ["Scheduled", "Free", "Off duty"], [
var time_consumption_raw = ['doughnut', ["Scheduled", "Free", "Off duty"], [
      [
	      /*
		 [{{ time_consumption_numdata }}, [{{ user_settings.theme.color1 }}, "#6f3e99", "#222222"], ["#fadd9d", "#ac6ee0", "#444444"], "#ffffe5","" 
	      */

	[4040, 820, 180], ["#f8ab31", "#6f3e99", "#222222"], ["#fadd9d", "#ac6ee0", "#444444"], "#ffffe5","" 
      ]
    ]];

var bot_data = [];
{% for bot in bots|slice:":5" %}
bot_data.push([{{ bot.numdata }}, "#{{ bot.bot_profile.color }}", "#f8ab31", "#{{ bot.bot_profile.color }}", "{{ bot.name }}"]);
{% endfor %}

var bot_effectiveness_raw = ['line', ['Jan', 'Feb', 'Mar'], bot_data];
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js">
</script>
<script type="text/javascript" src={% static "dashboard/js/charts.js" %}></script>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
	<div class="panel-heading"><i class="fas fa-users"> &nbsp Groups</i></div>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col"></th>
	      <th scope="col">Name</th>
	      <th scope="col">Rating</th>
	      <th scope="col">Created</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for group_profile in group_profiles|slice:":5" %}
	    <tr>
	      <td><span class="dot" style="height:25px; width:25px; border-radius:50%; background-color:#{{ group_profile.color }}; display:inline-block"></span></td>
	      <td><a href="{% url 'get_group_profile' group_name=group_profile.group.name %}">{{ group_profile.group.name }}</a></td>
	      <td>{{ group_profile.rating }}</td>
	      <td>{{ group_profile.creation_date }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>

      <div class="panel panel-default">
	<div class="panel-heading"><i class="fas fa-user"> &nbsp Users</i></div>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col"></th>
	      <th scope="col">Full Name</th>
	      <th scope="col">Rating</th>
	      <th scope="col">Created</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for user_profile in user_profiles|slice:":5" %}
	    <tr>
	      <td><span class="dot" style="height:25px; width:25px; border-radius:50%; background-color:#{{ user_profile.color }}; display:inline-block"></span></td>
	      <td><a href="{% url 'get_user_profile' username=user_profile.user.username %}">{{ user_profile.user.get_full_name }}</a></td>
	      <td>{{ user_profile.rating }}</td>
	      <td>{{ user_profile.creation_date }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>

      <div class="panel panel-default">
	<div class="panel-heading"><i class="fas fa-robot"> &nbsp Bots</i></div>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col"></th>
	      <th scope="col">Name</th>
	      <th scope="col">Rating</th>
	      <th scope="col">Created</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for bot in bots|slice:":5" %}
	    <tr>
	      <td><span class="dot" style="height:25px; width:25px; border-radius:50%; background-color:#{{ bot.bot_profile.color }}; display:inline-block"></span></td>
	      <td><a href="{% url 'get_bot_profile' bot_code=bot.code %}">{{ bot.name }}</a></td>
	      <td>{{ bot.rating }}</td>
	      <td>{{ bot.creation_date }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
      <div class="panel panel-default">
	<div class="panel-heading"><i class="fas fa-briefcase"> &nbsp Professions</i></div>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col"></th>
	      <th scope="col">Name</th>
	      <th scope="col">Created</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for profession in professions|slice:":5" %}
	    <tr>
	      <td><span class="dot" style="height:25px; width:25px; border-radius:50%; background-color:#{{ profession.color }}; display:inline-block"></span></td>
	      <td><a href="{% url 'get_profession' profession_code=profession.code %}">{{ profession.name }}</a></td>
	      <td>{{ profession.creation_date }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>

      <div class="panel panel-default">
	<div class="panel-heading"><i class="fas fa-puzzle-piece"> &nbsp Modules</i></div>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Name</th>
	      <th scope="col">Created</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for module in modules|slice:":5" %}
	    <tr>
	      <td><a href="{% url 'get_module' module_code=module.code %}">{{ module.name }}</a></td>
	      <td>{{ module.creation_date }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>

      <div class="panel panel-default">
	<div class="panel-heading"><i class="fas fa-object-group"> &nbsp Categories</i></div>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Name</th>
	      <th scope="col">Created</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for category in categories|slice:":5" %}
	    <tr>
	      <td><a href="{% url 'get_category' category_code=category.code %}">{{ category.name }}</a></td>
	      <td>{{ category.creation_date }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>

      <div class="panel panel-default">
	<div class="panel-heading"><i class="fas fa-terminal">  &nbsp Commands</i></div>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Name</th>
	      <th scope="col">Created</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for command in commands|slice:":5" %}
	    <tr>
	      <td><a href="{% url 'get_command' command_code=command.code %}">{{ command.name }}</a></td>
	      <td>{{ command.creation_date }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>

    </div>


    <div class="col-md-4">
      <div class="panel panel-default">
	<div class="panel-heading"><i class="fas fa-tasks">  &nbsp Task Completion</i></div>
	<canvas id="task_completion" style="height: 180px; width: 100%;"></canvas>

      </div>
      <div class="panel panel-default">
	<div class="panel-heading"><i class="fas fa-clock">  &nbsp Time Consumption</i></div>
	<canvas id="time_consumption" style="height: 180px; width: 100%;"></canvas>
      </div>

      <div class="panel panel-default">
	<div class="panel-heading"><i class="fas fa-clipboard-check">  &nbsp Bot Effectiveness</i></div>
	<canvas id="bot_effectiveness" style="height: 180px; width: 100%;"></canvas>
      </div>

    </div>

    <div class="col-md-4">
      {% regroup timespans by event.name as event_list %} 
      {% for event in event_list %}
      <div class="jumbotron">
	<h2>{{ event.grouper }}</h2>
	{% for event_data in event.list|slice:"1" %}
	<h5>Created: {{ event_data.event.creation_time }}
	  </br> by <a href={% url 'get_user_profile' username=event_data.event.creator.username %}>{{ event_data.event.creator.get_full_name }}</a></h5>
	  </br>
	  <h5>{{ event_data.event.description|truncatechars:100 }}</h5>
	  {% endfor %}
	  </br>
	  {% for timespan in event.list %}
	  <div style="border-left:5px solid #{{ timespan.get_actor_color }}; padding-left:5px;">
	    <h4>{{ timespan.name }}</h4>
	    <h5>Assigned by: <a href={% url 'get_user_profile' username=timespan.creator.username %}>{{ timespan.creator.get_full_name }}</a></h5>

	    </br>

	    {% if timespan.start_day %}
	    <h4><b>{{ timespan.get_start_day }}</b> through <b>{{ timespan.get_end_day }}</b></h4>
	    {% endif %}
	    {% if timespan.start_date %}
	    <h4><b>{{ timespan.start_date }}</b> through <b>{{ timespan.end_date }}</b></h4>
	    {% endif %}
	    {% if timespan.start_time %}
	    <h4><b>{{ timespan.start_time }}</b> through <b>{{ timespan.end_time }}</b></h4>
	    {% endif %}
	    <h5 >Assigned to: <i class="{{ timespan.get_actor_icon }}" style="color:#{{ timespan.get_actor_color }};"> {{ timespan.get_actor_name }}</i></h5>
	  </div>
	  {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<h2>{{ error }}</h2>
{% endblock %}
