{% extends 'base.html' %}

{% block content %}
<h1>EXTENSION: profile</h1>
<img src="{{ profile.picture }}" />
<p>Name:{{ bot.name }}</p>
<p>Code:{{ bot.code }}</p>
<p>Rating: {{ profile.rating }}</p>
<p>Creator:</p>
<a class="btn btn-link" href="{% url 'get_user_profile' username=bot.creator.username %}">{{ bot.creator.get_full_name }}</a>
<p>Professions:</p> 
<ul class='list-unstyled'>
{% for profession in professions %}
<li><a class="btn btn-link" href="{% url 'get_profession' profession_code=profession.code %}">{{ profession.name }}</a></li>
{% endfor %}
</ul>

<h2>{{ error }}</h2>
{% endblock %}
