{% extends 'base.html' %}

{% block content %}
<h1>EXTENSION: profile</h1>
<img src="{{ profession.picture }}" />
<p>Name: {{ professionname  }}</p>
<p>About: {{ profile.about }} </p>
<p>Rating: {{ profile.rating }} </p>
<p>Creator: {{ profession.creator }}</p>
<p>Creator:<a href="{% url 'get_user_profile' username=profession.creator.username %}">{{ profession.creator.get_full_name }}</a></p>

<p>Bots List:</p>
<ul class='list-unstyled'>
{% for bot in bots %}
<li><a href="{% url 'get_bot_profile' bot_code=bot.code %}">{{ bot.name }}</a></li>
{% endfor %}
</ul>

<h2>{{ error }}</h2>
{% endblock %}
